<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserList-Page</title>
    <link rel="stylesheet" type="text/css" href="/css/adminuserlist.css" />
</head>
<body>
    <h1 id="title">SpringBoot-CRUD</h1>
    <form id="logout" action="/logout" method="post"></form>
    <div id="login-form">
        <a href="/index">메인으로</a> |
        <a onclick="document.getElementById('logout').submit();">로그아웃</a><br>
    </div>
    <fieldset th:each="data : ${userData}">
        <legend th:text="${data[0]}"></legend>
        <span class="sub_title">닉네임</span> : <span th:text="${data[1]}"></span><br>
        <span class="sub_title">이메일</span> : <span th:text="${data[3]}"></span><br>
        <span class="sub_title">전화번호</span> : <span th:text="${data[4]}"></span><br>
        <span class="sub_title">주소</span> : <span th:text="${data[5]}"></span><br>
        <span class="sub_title">가입날짜</span> : <span th:text="${data[2]}"></span><br>
        <form id="edit_user" action="/adminEdit" method="get">
            <input type="hidden" th:value="${data[0]}" name="id" />
        </form>
        <a onclick="document.getElementById('edit_user').submit();">수정</a>
    </fieldset>
    <div id="pagination_form">
        <span th:each="pageNumber : ${pageNumbers}">
        <a id="pagination" th:href="@{'/admin?page=' + ${pageNumber} + '&amp;pageSize=5'}" th:text="${pageNumber}"></a>
    </span>
    </div>
</body>
</html>